img{
  max-width: 100%;
}

:root{
  --theme-color: #EDD750; 
  --background-color: #015761;
}



/*============header-section-start=========== */


.hero-intro{
  background: #015761;

}





.navbar-brand {
    color: var(--theme-color) !important;
    text-transform: capitalize;
    margin-right: 3rem !important;
    margin-left: 3.7rem !important;
}

.nav-link {
    color: #cfcaca !important;
    font-size: 12px;
}

.navbar {
    padding-bottom: 0;
    position: fixed;
}

.navbar-toggler {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-: 0;
    padding: 0;
    margin-top: 14px;
    margin-left: 30px;
    border: 0;
}
.navbar-toggler span {
    display: block;
    width: 100%;
    height: 2px;
    background: #cfc7c7;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}



.fixed-top {
    position: fixed;
    top: 30px;
    right: -9px;
    left: 0;
    z-index: 1030;
}


.intro {
    text-align: left;
    padding: 180px 150px 150px;
}

.intro h3{

    color: var(--theme-color);

    font-weight: 500;
}

.intro h1{
      
    color: #fff;
      
    font-size: 54px;
      
    font-weight: 700;
}

.intro h5 {
    color: #cfcaca;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
}

.hero-banner-section .row {
    --bs-gutter-x: 0;
}

.hero-banner-section .container{
  padding-right: 0;
  padding-left: 0;
}

.hero-banner-photo img {
    height: 523px;
    object-fit: cover;
    width: 100%;
}



        /*============header-section-end=========== */



 /*============intro-section-start=========== */


.intro-section{

}
.intro-color {
    background: #F1F0F0;
}
.intro-section h2{
  color: var(--background-color);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

.intro-section p {
    font-size: 12px;
    margin-bottom: 2rem;
}


  .intro-section a {
    background: #F7DC4F;
    padding: 7px 15px;
    font-size: 14px;
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    
}


.intro-section-intro {
    padding: 77px;
    text-align: center;
    margin: auto;
}




/*============intro-section-end=========== */


/*============show-section-start=========== */

.show-section{

}

.showreel{}
.showreel h1 {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 65px;
    text-transform: capitalize;
    font-size: 37px;
    font-weight: 700;
    color: var(--background-color);
}
.showreel iframe{}



/*============show-section-end=========== */


/*========================PHOTOS-section-starts=========================*/
.photo-section{

}

.photo-section h1 {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 65px;
    text-transform: capitalize;
    font-size: 37px;
    font-weight: 700;
    color: var(--background-color);
}

.photo-section img{
  
}

.img-row-one{
      height: 215px;
    width: 100%;
    object-fit: cover;
}

.img-row-two {
    height: 215px;
    width: 100%;
    object-fit: cover;
    margin-top: 26px;
}

/*========================PHOTOS-section-ends=========================*/




/*========================contact-section-starts=========================*/

.contact-section{
  padding-top: 80px;
}
.contact-section img{}
.contact-color {
    background: var(--background-color);
    padding-top: 50px;
}
.contact-flex-column {
    
    flex-direction: column;
    margin-top: 50px;

}
.contact-section h1 {
    color: var(--theme-color);
    font-size: 41px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding-left: 0;
}
.contact-section h2 {
    font-size: 22px;
    text-transform: capitalize;
    color: #e3d6d6;
    font-weight: 600;
    text-align: center;
    padding-left: 0;
    margin-bottom: 10px;
}
.contact-section h4 {
    font-size: 11px;
    text-transform: capitalize;
    color: #e3d6d6;
    font-weight: 500;
}

.contact-section h3  {
  font-size: 15px;
    text-transform: capitalize;
    color: #e3d6d6;
    font-weight: 600;
}

.contact-icons{}

.contact-icons img{}

.padding{
  padding-right:0;
}


/*========================contact-section-ends=========================*/





/*========================footer-section-starts=========================*/

footer{

margin-top: 20px;
}

footer h4{
  
text-align: center;
  
font-size: 12px;
  
font-weight: 400;
}

footer h4 span {
    text-decoration: underline;
}
/*========================footer-section-ends=========================*/